<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../public/head.ejs') %>
  </head>
  <body>
    <nav class="teal lighten-2">
      <%- include ('../public/nav.ejs') %>
    </nav>
  <body>
    <div class="container">
      <h1 style="text-align: center;">Games</h1>
      <div style="display: flex; flex-flow: column wrap;">
       <ul style="display: flex; flex-direction: column">
          <% for (let element of lax) { %>
            <div class="card-panel hoverable" >
              <li style="text-align: center;">
              <hr>
              <a style =" font-size: 2rem;" href="/lax/<%=element.id%>"><%= element.team1 %> vs <%= element.team2 %></a>
              <br><span style ="float: left;"><%= element.team1 %></span><span style ="float: right;"><%= element.score1 %></span></br>
              <br>
              <span style ="float: left;"><%= element.team2 %></span><span style ="float: right;"><%= element.score2 %></span></br>
              <a href="/lax/<%=element._id%>/edit" class="btn-floating right btn-medium blue">
                  <i class="large material-icons">mode_edit</i>
                </a>
              </li>
            </div>
          <%} %>
      </ul>
    </div>
   </div>
  </body>
</html>
