<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../public/head.ejs') %>
  </head>
  <body>
    <nav class="teal lighten-2">
      <%- include ('../public/nav.ejs') %>
    </nav>
    <div class="container">
      <h1><span style="text-align: left"><%=lax.team1 %> </span> <span style="float: right"><%=lax.score1 %> </span>
        <br><span style="text-align: left"><%=lax.team2 %> </span> <span style="float: right"><%=lax.score2 %> </span></h1>

    <h3>
        Location: <%=lax.location%>
    </h3>
    <form action="/lax/<%=lax._id%>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE" class="btn-large left"/>
    </form>
    <a href="/lax" class="btn-large right waves-effect waves-light inherit"><i class="material-icons">home</i></a>

    </div>
  </body>
</html>
